* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

.Container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 25px;
    background: url(./images/payment\ background.jpeg);
    /* --tw-bg-opacity:0.4; */
    /* opacity: 45%;  */
}
/* 
.column{
    opacity: 45%;
} */

.Container form {
    /* align-content: center;
    justify-content: center;
    align-items: center; */
    margin-top: 100px;
    width: 700px;
    height: 570px;
    padding: 20px;
    background: darkslateblue;
    box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 1px solid aliceblue;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 50px;
    margin-left: 30px;

}
.totalPriceDisplay{
    color: #fff; 
    text-align: center;
    align-items: center;
    margin-top: 20px;
    width: 100%; 
    height: 15px;
    font-size: 30px;
    font-weight: 600;
}
.h3 {
    justify-content: center;
    text-align: center;
    color: lightcoral;
}

.cards {
    justify-content: center;

    align-items: center;
   margin-left: 165px;
   /* color: aliceblue; */
}
.inputBox{
    padding-left: 10;
    color: aliceblue;
    margin-bottom: 20px;
    /* border: 1px solid black; */
}
.inputBox ::placeholder{
    
    color: #000;
    /* border: 1px solid black; */
}
.Submit_button{
    /* padding-right: ; */
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: lightblue;
    color */
}

button{
    background: lightblue;
    padding: 8px 16px;
    border-radius: 10px;
    color: #000;
}

button:hover{
    background:#30af85 ;
    cursor: pointer;
}
.box{
    color: aliceblue;
}